@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border)); /* Apply the border color directly */
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
    font-family: 'GeistVF', sans-serif;
  }
}

@layer utilities {
  .border-border {
    border-color: hsl(var(--border));
  }
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-gray-900 {
  background-color: #1a202c;
}

.text-gray-900 {
  color: #1a202c;
}

.text-gray-100 {
  color: #f7fafc;
}
